@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --my-color: #fff;
  /* or any other variables/style */
}
[data-theme="dark"] {
  --my-color: #000;
}

/* .theme-option {
  height: 25px;
  width: 25px;
  border: 1px solid;
  border-radius: 50%;
} */

/* #theme-light {
  background-color: white;
  border-color: black;
} */

/* #theme-dark {
  background-color: black;
  border-color: white;
} */

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;

  background-color: var(--my-color);
}
